<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96923102024-4a9oa2e923iiig5gjj38pu16ipro2b6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96923102024-4a9oa2e923iiig5gjj38pu16ipro2b6t</string>
	<key>API_KEY</key>
	<string>AIzaSyABrisPsgzGdRf0x3j3F-rf9_tdo-QZctE</string>
	<key>GCM_SENDER_ID</key>
	<string>96923102024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enebin.QuickWeather</string>
	<key>PROJECT_ID</key>
	<string>qweather-5969e</string>
	<key>STORAGE_BUCKET</key>
	<string>qweather-5969e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96923102024:ios:3ef1144e16dac5538ee17d</string>
</dict>
</plist>